<p id="notice"><%= notice %></p>

<p>
  <strong>Num bed:</strong>
  <%= @room.num_bed %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @room.room_number %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @room.Hotel %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
