<%#= form_with(model: hotel, local: true) do |form| %>
  <%# if hotel.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>-->

<!--      <ul>-->
      <%# hotel.errors.full_messages.each do |message| %>
<!--        <li><%#= message %></li>-->
      <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

<!--  <div class="field">-->
    <%#= form.label :name %>
    <%#= form.text_field :name %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :address %>
    <%#= form.text_field :address %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= form.submit %>
<!--  </div>-->
<%# end %>

<%= form_for @hotel do |f| %>
  <div class="field">
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <br/>
    <%= f.text_field :address %>
  </div>
  <h3>Rooms</h3>
  <div id='rooms'>
    <%= f.fields_for :rooms do |room| %>
      <%= render 'room_fields', :f => room %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add room', f, :rooms %>
    </div>
  </div>
  <%= f.submit 'Save' %>
<% end %>